h2 {
  margin-top: 40px;
  color: white;
  text-align: center;
  margin-left: 30px;
  background-color: grey;
  border-radius: 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
input {
  border: none;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.icono:hover {
  cursor: pointer;
  filter: brightness(4);
}

.container {
  width: 50%;
}
.inputClass {
  justify-content: center;
  display: flex;
}
